    <div class="Extra2">
<div class="contact_details">
    <h3 class="phone">Contact Us</h3>
    <p class="number">9787978797</p>
    <h3 class="phone">Email</h3>
    <p class="number">pranavrai@gmail.com</p>

</div>
<div class="Extra1">
  <textarea ></textarea>
  <!-- <br /> -->
  <h4 class="text_class">

  </h4>
  <!-- <br /> -->
  <button class="smooth btn-lg">Enquire</button>
    </div>
    </div>

    </body>
</html>